// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.clearfix {
    @include clearfix;
}

.hand {
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.effect {
    @include effect;
}

.no-padding {
    padding: $no-gutter;
}

.no-margin {
    margin: $no-margin;
}

.responsive-img {
    @include responsive-img;
}

.fit-img {
    @include fit-img;
}

.row {
    @include row;
}

.column {
    @include column;
}

%container {
    @include container;
}

.container {
    @extend %container;
    @media screen and (min-width: $grid-sm) {
        width: $mobile;
    }

    @media screen and (min-width: $grid-md) {
        width: $tablet;
    }

    @media screen and (min-width: $grid-lg) {
        width: $desktop-sm;
    }

    @media screen and (min-width: $grid-xl) {
        width: $desktop-lg;
    }
}

.container-fluid {
    @extend %container;
}

$positions: top right bottom left;

@each $position in $positions {
    @for $i from 1 to 4 {
        .margin-#{$position}--#{$i}0 {
            margin-#{$position}: #{$i}0px;
        }
    }
}